<?xml version="1.0" encoding="UTF-8" ?>

<!-- config.xml reference: https://build.phonegap.com/docs/config-xml -->
<widget xmlns       = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "dk.papirkriger.beskeder"
        version     = "1.0.0" >

    <name>Beskeder</name>

    <description>
        Context Aware iOS Messages app.
    </description>

    <author href="https://ungtriumf.dk" email="benjamin@ungtriumf.dk">
        Benjamin Ottensten
    </author>

    <!-- Specify platforms to build for -->
    <gap:platform name="ios" />
    
    <!-- Customize your app and platform with the preference element. -->
    <preference name="orientation"           value="portrait" />
    <preference name="prerendered-icon"      value="true" />
    <preference name="ios-statusbarstyle"    value="black-opaque" />

    <!-- Icon  -->
    <icon src="images/icons/icon.png" />
    
    <!-- iPhone / iPod Touch  -->
    <icon src="images/icons/icon-60.png"        gap:platform="ios" width="60" height="60" />
    <icon src="images/icons/icon-60@2x.png"     gap:platform="ios" width="120" height="120" />

    <!-- Settings Icon -->
    <icon src="images/icons/icon-small.png"     gap:platform="ios" width="29" height="29" />
    <icon src="images/icons/icon-small@2x.png"  gap:platform="ios" width="58" height="58" />

    <!-- Spotlight Icon -->
    <icon src="images/icons/icon-40.png"        gap:platform="ios" width="40" height="40" />
    <icon src="images/icons/icon-40@2x.png"     gap:platform="ios" width="80" height="80" />

</widget>

