// Context-menu (_context-menu.scss)

.context-menu {
	// set position
	position: absolute;
	top: 43px;
	right: 0px;
	z-index: 999;
	// size
	width: 70px;
	height: 30px;
	// look
	background-color: rgba(248,248,248,0.97);
	border-left: 1px solid $grey;
	border-bottom: 1px solid $grey;
	border-radius: 0 0 0 100px;

	.wheel {
		margin: -31px 0 0 25px;
		// size
		width: 28px;
		height: 28px;
		// look
		background: url('../img/wheel/icon_5090.svg');
		background-size: 100%;
		// animation
		-webkit-animation: rotation 5s infinite linear;
	}

	p {
		margin: 4px 0 0 21px;
		font-size: 11px;
		font-weight: bold;
		color: black;
	}
}

@-webkit-keyframes rotation
{
from {-webkit-transform: rotate(0deg);}
to {-webkit-transform: rotate(360deg);}
}