// Messages-replica for iPhone (_messages.scss)

.messages {
	padding: 0;

	.bubble-message {
		// set position
		position: relative;
		margin-bottom: 10px;
		//remove list style
		list-style: none;
		// define size
		width: 250px;
		height: 150px;
		//
		border-radius: 20px;

		&:after {
			//define block
			content: "";
			display: block;
			//define size
			width: 26px;
			height: 19px;
			//set position
			position: absolute;
			bottom: 0;
			right: -11px;
		}
	}

	.send-bubble {
		@extend .bubble-message;
		// set fallback background
		background: green;
		// set backgorund gradient
		@include gradient(#04da4d, #00d349);

		&:after {
			//set background-image
			background-image: url('../images/message-snippet_green.svg');
		}
	}

	.receive-bubble {
		@extend .bubble-message;
		// set background
		background: #e5e5ea;


		&:after {
			//set background-image
			background-image: url('../images/message-snippet_grey.svg');
		}
	}
}