// Messages-replica for iPhone (_messages.scss)

.messages {
	margin: 10px 15px;
	padding: 0;

	li {
		list-style: none;
		clear: both;

		&:last-child {
			margin-bottom: 25px;
		}
	}

	.time {
		// Position
		margin-bottom: 7px;
		text-align: center;
		// Text styling
		color: $message-grey;
		font-size: 11px;
	}

	.bubble-message {
		// Position
		position: relative;
		margin-bottom: 10px;
		// Define size
		max-width: 80%;
		padding: 8px 13px;
		// Layout
		border-radius: 20px;
		font-size: 16px;
		line-height: 20px;

		&:after {
			// Position
			position: absolute;
			bottom: 2px;
			// Define size
			width: 18px;
			height: 13px;
			content: "";
			// Layout
			background-size: 100%;
		}
	}

	.send-bubble {
		@extend .bubble-message;
		// Fallback background
		background: $blue;
		//@include gradient($message-green-top, $message-green);
		float: right;
		// font
		color: #fff;

		&:after {
			background-image: url('../images/message-snippet_blue.svg');
			right: -7px;
		}

		&:last-of-type:before {
			// Position
			position: absolute;
			bottom: -20px;
			right: 0;
			// Layout
			content: "Leveret";
			color: $message-grey;
			font-size: 11px;
			font-weight: bold;
		}
	}

	.receive-bubble {
		@extend .bubble-message;
		background: #e5e5ea;
		float: left;

		&:after {
			background-image: url('../images/message-snippet_grey.svg');
			left: -7px;
		}
	}
}
