// Base file (_messages-send.scss)

.send-messages {
	.icon-cam {
		float: left;
		width: 25px;
		height: 18px;
		margin: 12px 10px 0 0;
	}

	.write-message-input {
		float: left;
		width: 218px;
		margin-bottom: 8px;
	}

	a.button_send {
		float: right;
		margin-top: 12px;
		font-weight: 700;
		color: $blue;
		font-size: 16px;
	}

	a.disabled {
		pointer-events: none;
		cursor: default;
		color: $message-grey;
	}
}

