// Prototype 3 (_proto-3.scss)

/* 

Flere ændringer - interfacet tager flere valg på brugerens vegne - brugeren har dog stadig magten.
Prototypen bygger ovenpå prototype 1, men tilføjer mulighed for at brugeren kan anvende stemmeinput
til at besvare en besked - dog er der stadig mulighed for at vælge tastaturindput.
Brugeren har stadig magten.

*/

.proto-3 {
	position: static;

	.title {
		z-index: 101;
		position: absolute;
		width: 100%;
		height: 100%;
	}
}

.overlay {
	//display: none;
	position: absolute;
	z-index: 100;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #fff;
	opacity: 0.9;
}

.overlay-content {
	.receive-bubble {
		// Position
		z-index: 101;
		position: relative;
		margin: 40px;
		// Define size
		padding: 8px 13px;
		// Layout
		border-radius: 20px;
		font-size: 20px;
		line-height: 20px;
		line-height: 24px;
		background: #e5e5ea;

		&:after {
			// Position
			position: absolute;
			bottom: 2px;
			// Define size
			width: 18px;
			height: 13px;
			content: "";
			// Layout
			background-size: 100%;
			background-image: url('../img/message-snippet_grey.svg');
			left: -7px;
		}
	}

	.context-alerts {
		.context-alert-image {
			position: absolute;
			bottom: 90px;
			left: 145px;
			z-index: 101;
			width: 35px;
			height: 35px;
			background: url('../img/stop-sign.png') no-repeat;
			background-size: 100%;
		}

		.context-alert-text {
			position: absolute;
			bottom: 55px;
			left: 75px;
			z-index: 101;
			font-size: 20px;
		}
	}
}