// Prototype 3 (_proto-3.scss)

/* 

Flere ændringer - interfacet tager flere valg på brugerens vegne - brugeren har dog stadig magten.
Prototypen bygger ovenpå prototype 1, men tilføjer mulighed for at brugeren kan anvende stemmeinput
til at besvare en besked - dog er der stadig mulighed for at vælge tastaturindput.
Brugeren har stadig magten.

*/

.proto-3 {
	position: static;

	.title {
		z-index: 999;
		position: absolute;
		width: 100%;
		height: 100%;
	}
}

.overlay {
	//display: none;
	position: absolute;
	z-index: 100;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #fff;
	opacity: 0.9;
}