/* line 3, ../sass/partials/_messages.scss */
.messages {
  margin: 10px 20px;
  padding: 0;
}
/* line 7, ../sass/partials/_messages.scss */
.messages li {
  width: 100%;
  list-style: none;
}
/* line 12, ../sass/partials/_messages.scss */
.messages li:after {
  content: '';
  display: block;
  clear: both;
}
/* line 18, ../sass/partials/_messages.scss */
.messages li .bubble-message, .messages li .send-bubble, .messages li .receive-bubble {
  position: relative;
  margin-bottom: 10px;
  max-width: 80%;
  border-radius: 20px;
  padding: 12px 15px;
  font-size: 16px;
  line-height: 20px;
}
/* line 30, ../sass/partials/_messages.scss */
.messages li .bubble-message:after, .messages li .send-bubble:after, .messages li .receive-bubble:after {
  content: "";
  display: block;
  width: 26px;
  height: 19px;
  position: absolute;
  bottom: 0;
}
/* line 43, ../sass/partials/_messages.scss */
.messages li .send-bubble {
  background: green;
  /* Fallback (could use .jpg/.png alternatively) */
  background-color: #04da4d;
  /* Safari 4, Chrome 1-9, iOS 3.2-4.3, Android 2.1-3.0 */
  background-image: -webkit-gradient(linear, top, bottom, from(#04da4d), to(#00d349));
  /* Firefox 3.6 - 15 */
  background-image: -moz-linear-gradient(top, #04da4d, #00d349);
  /* Opera 11.1 - 12 */
  background-image: -o-linear-gradient(top, #04da4d, #00d349);
  /* Opera 15+, Chrome 25+, IE 10+, Firefox 16+, Safari 6.1+, iOS 7+, Android 4.4+ */
  background-image: linear-gradient(to bottom, #04da4d, #00d349);
  float: right;
  color: #fff;
}
/* line 54, ../sass/partials/_messages.scss */
.messages li .send-bubble:after {
  background-image: url("../images/message-snippet_green.svg");
  right: -11px;
}
/* line 62, ../sass/partials/_messages.scss */
.messages li .receive-bubble {
  background: #e5e5ea;
  float: left;
}
/* line 70, ../sass/partials/_messages.scss */
.messages li .receive-bubble:after {
  background-image: url("../images/message-snippet_grey.svg");
  left: -11px;
}

/* line 1, ../sass/partials/_message-list.scss */
.form-search {
  padding: 5px;
  padding-bottom: 0;
  background-color: #c9c9ce;
}
/* line 6, ../sass/partials/_message-list.scss */
.form-search input {
  margin-bottom: 6px;
}
