/* line 7, ../sass/modules/_inputs.scss */
input[type="text"] {
  height: 28px;
  padding: 8px;
  font-size: 14px;
  border: 0px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
/* line 18, ../sass/modules/_inputs.scss */
input[type="text"].write-message-input {
  border: 1px solid #c7c7c7;
  margin-top: 8px;
}
/* line 23, ../sass/modules/_inputs.scss */
input[type="text"].form-search_input {
  margin-bottom: 8px;
  text-align: center;
}

/* line 5, ../sass/partials/_base.scss */
.content {
  padding-bottom: 44px;
}

/* line 3, ../sass/partials/_ratchet-modifications.scss */
.bar {
  background-color: rgba(248, 248, 248, 0.97);
}

/* line 8, ../sass/partials/_ratchet-modifications.scss */
.bar a,
.bar .btn {
  color: #007aff;
}

/* line 13, ../sass/partials/_ratchet-modifications.scss */
.bar .btn.pull-left {
  margin-left: -2px;
}

/* line 3, ../sass/partials/_messages-bubbles.scss */
.messages {
  margin: 10px 15px;
  padding: 0;
}
/* line 7, ../sass/partials/_messages-bubbles.scss */
.messages li {
  width: 100%;
  list-style: none;
}
/* line 12, ../sass/partials/_messages-bubbles.scss */
.messages li:after {
  content: '';
  display: block;
  clear: both;
}
/* line 18, ../sass/partials/_messages-bubbles.scss */
.messages li .message-time {
  color: #c7c7c7;
  font-size: 13px;
  text-align: center;
  margin-bottom: 10px;
}
/* line 27, ../sass/partials/_messages-bubbles.scss */
.messages li .message-receive-info {
  color: #c7c7c7;
  font-size: 13px;
  font-weight: bold;
  float: right;
  margin-top: -7px;
}
/* line 37, ../sass/partials/_messages-bubbles.scss */
.messages li .bubble-message, .messages li .send-bubble, .messages li .receive-bubble {
  position: relative;
  margin-bottom: 10px;
  max-width: 80%;
  border-radius: 20px;
  padding: 8px 13px;
  font-size: 16px;
  line-height: 20px;
}
/* line 49, ../sass/partials/_messages-bubbles.scss */
.messages li .bubble-message:after, .messages li .send-bubble:after, .messages li .receive-bubble:after {
  content: "";
  display: block;
  width: 26px;
  height: 19px;
  position: absolute;
  bottom: 0;
}
/* line 62, ../sass/partials/_messages-bubbles.scss */
.messages li .send-bubble {
  background: #007aff;
  float: right;
  color: #fff;
}
/* line 73, ../sass/partials/_messages-bubbles.scss */
.messages li .send-bubble:after {
  background-image: url("../images/message-snippet_blue.svg");
  right: -11px;
}
/* line 81, ../sass/partials/_messages-bubbles.scss */
.messages li .receive-bubble {
  background: #e5e5ea;
  float: left;
}
/* line 89, ../sass/partials/_messages-bubbles.scss */
.messages li .receive-bubble:after {
  background-image: url("../images/message-snippet_grey.svg");
  left: -11px;
}

/* line 3, ../sass/partials/_message-list.scss */
.form-search {
  padding: 8px;
  padding-bottom: 0;
  background-color: #c9c9ce;
}

/* line 9, ../sass/partials/_message-list.scss */
.table-view {
  border-top: 0;
}

/* line 4, ../sass/partials/_messages-send.scss */
.send-messages img {
  float: left;
  width: 25px;
  height: 18px;
  margin: 12px 10px 0 0;
}
/* line 11, ../sass/partials/_messages-send.scss */
.send-messages .write-message-input {
  float: left;
  width: 218px;
}
/* line 16, ../sass/partials/_messages-send.scss */
.send-messages h4 {
  float: right;
  color: grey;
  margin-top: 14px;
  font-size: 16px;
}
