// Inputs (_inputs.scss)

// All text inputs

$border-radius: 5px;

input[type="text"] {
    height: 28px;
    padding: 8px;
    
    font-size: 14px;

    border: 0px;
    -webkit-border-radius: $border-radius;
    border-radius: $border-radius;

    // text input for messages
    &.write-message-input {
		border: 1px solid $grey;
		margin-top: 8px;
	}

    &.form-search_input {
        margin-bottom: 8px;
        text-align: center;
    }
}